body, html
    padding: 0
    margin: 0
    width: 100%
    height: 100%
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center

body
    font-size: 85%
    font-family: Roboto, "Helvetica Neue", sans-serif
    line-height: 1.4
    letter-spacing: .3px

a
    text-decoration: none
    font-weight: 300
    transition: 0.2s ease-in-out color
    color: #e6e6e6

a:hover, a:focus, a:active
    color: #fff

canvas
    display: block
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0

.content
    position: relative
    z-index: 1
    background: rgba(48, 48, 54, 0.65)
    border-radius: 3px
    width: 350px

.content .md-toolbar-tools
    background: rgba(0, 0, 0, .1)
    font-weight: 300

.top-sites
    padding: 20px

ol, ul
    color: #e6e6e6
    padding: 0
    margin: 0
    font-weight: 300
    list-style-type: none

    li
        margin: 6px 0
        padding-left: 24px
        position: relative

        img
            position: relative
            top: 2px
            margin-right: 5px
            width: 16px
            height: 16px
            position: absolute
            left: 0

.md-primary
    color: #e6e6e6